body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light background */
    color: #333; /* Dark text */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
p {
    margin: 10px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin-right: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff; /* Blue tab background */
    color: #fff; /* White text */
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #28a745; /* Green active tab background */
}

section {
    display: none;
}

section.show {
    display: block;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }

    .tabs {
        flex-wrap: wrap;
    }

    .tab {
        margin: 5px;
        margin-bottom: 10px;
    }
}
